
/* body {
      font-family: Arial, sans-serif;
      margin: 20px;
}

h1, h2, p {
            text-align: center;
 }

       
 #conclusions {
            max-width: 800px;
            margin: 0 auto;
} */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
}
h1 {
    color: #3498db;
}
p {
    line-height: 1.6;

}
/* FOOTER */
footer{
    text-align:center;
    color:#fff;
    background-color:#3498db;
}
img{
    height:400px;
    width:400px;
}
#community{
    height:150px;
}
/* div{
    margin:30px;
} */
