body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
}
h1 {
    color: #3498db;
}
p {
    line-height: 1.6;
}
img{
    height:450px;
    width:500px;
    text-align: center;
    margin-right:50px;
}
footer{
    text-align: center;
    color:#fff;
    background-color: #3498db;
    
}